
@model IEnumerable<Blake.BO.Person.AccountTransaction>
@{
    ViewBag.Title = "Account Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>Account</legend>
</fieldset>

<div class="container" ng-app="App" ng-controller="TransactionCntrl">
    <div class="row">
        <form name="form" class="css-form" novalidate>
            <div class="span6">
                <table class="table table-condensed table-bordered">
                    <thead class="btn-info">
                        <tr> <td colspan="2" style="text-align: center"> Account Transaction </td> </tr>
                    </thead>
                    <thead class="btn-info">
     
                    </thead>
                    <tbody style="background-color: #f9f9f9">
                        <tr>
                            <td>Description</td>
                            <td>
                                <input type="text" class="custom-resiter-input" ng-model="CurrentTransaction.Description" required />
                            </td>
                        </tr>
                        <tr>
                            <td>Amount</td>
                            <td>
                                <input type="number"  class="custom-resiter-input" ng-model="CurrentTransaction.Amount" required />
                            </td>
                        </tr>
                        <tr>
                            <td>TransactionDate</td>
                            <td>
                                <input type="text" disabled uib-datepicker-popup="{{dateformat}}" ng-model="CurrentTransaction.TransDate " is-open="showdp" max-date="dtmax" required />
                                <span>
                                    <button type="button" class="btn btn-default" ng-click="showcalendar($event)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                             
                                    </span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2" style="background-color: white">
                                <span class="text-info">{{SaveStatus}}</span>

                                <button class="btn btn-small btn-danger pull-right" ng-click="SaveTransaction(CurrentTransaction)" ng-disabled="form.$invalid || isUnchanged(person)">Save</button>
                                <button class="btn btn-small btn-success pull-right" ng-click="DeleteTransaction(CurrentTransaction.TransactionId)" ng-disabled="CurrentPerson.CanCloseAccount">Close Account</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </form>

    </div>

</div>


<script type="text/javascript">
    angular.module('App', ['ngAnimate', 'ui.bootstrap']);
    angular.module('App', ['ngAnimate', 'ui.bootstrap']).controller('TransactionCntrl' , function ($scope, $http) {
        $scope.CurrentTransaction = {};
        $scope.CurrentTransactionSelected = @ViewBag.TransId;
        $scope.CurrentAccountSelected = @ViewBag.AccountId;
        $scope.SaveStatus = "";
        $scope.dateformat = "MM/dd/yyyy";
        $scope.showcalendar = function ($event) {
            $scope.showdp = true;
        };
        $scope.showdp = false;
        $scope.dtmax = new Date();


        $scope.SaveTransaction = function (transaction) {
            debugger;
            transAcc = {
                Description: transaction.Description,
                FK_AccountId: $scope.CurrentAccountSelected,
                Amount: transaction.Amount,
                TransactionId: transaction.TransactionId,
                TransDate: transaction.TransDate
            };
            $http({
                url: '/Person/SaveAccountTransaction/',
                method: "POST",
                data: { accTransaction: transAcc },
                headers: { 'Content-Type': 'application/json' }
            }).then(function (response) {
                $scope.CurrentAccount = response.data;
                $scope.CurrentTransactionSelected = 1;
                $scope.SaveStatus = response.data.statusMsg;  
            }
            );
        }

        $scope.DeleteTransaction = function (transId) {
            $http({
                url: '/Person/DeleteAccountTransaction/',
                method: "POST",
                data: { transId: transId },
                headers: { 'Content-Type': 'application/json' }
            }).then(function (response) {
                $scope.CurrentAccount = response.data;
                $scope.SaveStatus = response.data.statusMsg;  
            });
        }
        $scope.Navigate = function () {

            debugger;
            $http.post('/Person/GetAccountTransaction', { transId: $scope.CurrentTransactionSelected }).then(function (ul) {
                $scope.CurrentTransaction = ul.data;

            });
        }
        $scope.Navigate();
    });
</script>

