
@model IEnumerable<Blake.BO.Person.PersonDetail>
@{
    ViewBag.Title = "Person";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>Persons</legend>
</fieldset>

<div class="container" ng-app="App" ng-controller="PersonCntrl">


    <form name="form" class="css-form" novalidate>
        <div class="span6" ng-show="showPersonDetail">
            <table class="table table-condensed table-bordered">
                <thead class="btn-info">
                    <tr> <td colspan="2" style="text-align: center"> Person Details </td> </tr>
                </thead>
                <tbody style="background-color: #f9f9f9">
                    <tr>
                        <td>First Name</td>
                        <td>
                            <input type="text" class="custom-resiter-input" ng-model="CurrentPerson.PersonName" required />
                        </td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>
                            <input type="text" class="custom-resiter-input" ng-model="CurrentPerson.PersonSurname" required />
                        </td>
                    </tr>


                    <tr>
                        <td>Identity Number</td>
                        <td><input class="custom-resiter-input" ng-model="CurrentPerson.IdNumber" /></td>
                    </tr>

                    <tr>
                        <td>Accounts</td>
                        <td style="padding: 0; margin: 0;" ng-show="!CurrentPerson.DisableAccountDelete">
                            <input type="button" class="btn btn-mini btn-block" ng-click="EditAccount(0)" ng-disabled="CurrentPerson.PersonId === 0" value="New Account" />

                        </td>
                        <td ng-show="CurrentPerson.DisableAccountDelete">
                            <table class="table table-condensed table-bordered">
                                <thead class="btn-info">
                                    <tr>
                                        <td class="span1">
                                            Account Number
                                        </td>
                                        <td class="span3">
                                            Balance
                                        </td>
                                        <td class="btn-info">
                                            <input type="button" class="btn btn-mini btn-block" ng-click="EditAccount(0)" ng-disabled="CurrentPerson.PersonId === 0" value="New Account" />
                                        </td>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="acc in CurrentPerson.Accounts">
                                        <td>{{acc.AccountNumber}}</td>
                                        <td>{{acc.Balance}}</td>
                                        <td style="padding: 0; margin: 0;">
                                            <input type="button" class="btn btn-mini btn-block" ng-click="EditAccount(acc.AccountId)" value="Edit" />


                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" style="background-color: white">
                            <span class="text-info">{{SaveStatus}}</span>

                            <button class="btn btn-small btn-danger pull-right" ng-click="DeletePerson(CurrentPerson.PersonId)" ng-disabled="CurrentPerson.DisableAccountDelete">Close Account</button>
                            <button class="btn btn-small btn-success pull-right" ng-click="SavePerson(CurrentPerson)" ng-disabled="form.$invalid || isUnchanged(person)">Save</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </form>

    <form class="well form-search" style="background-color: #4CB1CF;">
        <i class="icon-large  icon-search "></i><input type="text" ng-model="searchKeyword" class="input-medium search-query" placeholder="Search...">
        <button class="btn btn-small btn-default pull-right" ng-click="Navigate()">Filter</button>
    </form>

    <div class="row">
        <div class="span6">
            <table class="table table-condensed table-bordered">
                <thead class="btn-info">
                    <tr>
                        <td class="span1">
                            Person Id
                        </td>
                        <td class="span3">
                            First Name
                        </td>
                        <td class="span3">
                            Last Name
                        </td>

                        <td class="span2">
                            <input type="button"  class="btn btn-small btn-success" value="New Person" ng-click="GetPerson(0)" />
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in Persons">
                        <td>{{p.PersonId}}</td>
                        <td>{{p.PersonName}}</td>
                        <td>{{p.PersonSurname}}</td>
                        <td style="padding: 0; margin: 0;">
                          
                            <button class="btn btn-small btn-default" ng-click="GetPerson(p.PersonId)">Edit</button>
                        </td>
                      

                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="span12 row-fluid" style="padding: 0; margin: 0;">

        <div class="span6 pagination pagination-mini" style="padding-left: 0px; padding-top: 0px; margin-top: 0px; margin-bottom: 0px;">
            <ul style="padding: 0; margin: 0">
                <li>
                    <a href="#" ng-bind="'Page ' + CurrentPage + ' of ' + TotalPages"></a>
                </li>
                <li><a href="#" ng-click="FirstPageListing()">&laquo;</a></li>
                <li><a href="#" ng-click="PrevPageListing()">&lsaquo;</a></li>
                <li><a href="#" ng-click="NextPageListing()">&rsaquo;</a></li>
                <li><a href="#" ng-click="LastPageListing()">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>

<script src="~/Scripts/JsControllers/PersonController.js"></script>


